:root {
  --primary: #a9015b;
  --prylight: #ffc0cb47;
  --secondary: #b8aa93;
  --white: #fff;
  --dark: #000000;
  --gray: #eee;
  --grayDark: #333;
  --gray-01: #eeeeeeb3;
  --gray-02: #d8d9e2;
  --latosans: "Lato", sans-serif;
  --fontXLG: 64px;
  --fontLG: 48px;
  --fontMD: 32px;
  --fontSM: 16px;
}
