.card {
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 14px 20px;
  position: relative;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  width: 100%;
  // &:hover {
  //     box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  //     transform: scale(1.02);
  //     -webkit-transform: scale(1.02);
  //     -moz-transform: scale(1.02);
  //     -ms-transform: scale(1.02);
  //     -o-transform: scale(1.02);
  // }
}
